$fontFamily: "Raleway", Arial;
$fontFamilyBold: "Raleway-Bold", Arial;

$colorPrimary: #00263c;
$colorPrimaryHover: #005180;
$colorSecondary: #f0000a;
$colorSecondaryHover: #f0000a;
$colorTertiary: #414042;
$colorDisabled: #cccccc;
$colorWhite: #FFFFFF; 
$colorOffWhite:#f2f2f2;

