.ng-accordion.ui-g {
	padding: 0px 1%;
}

.ng-btn-open-accordion .fa-caret-down, .ng-btn-open-accordion .fa-caret-up
	{
	float: left;
	color: #999;
	font-size: 13px;
	cursor: pointer;
}

.ng-btn-open-accordion {
	background: url("\#{resource['/common/img/filter-sprite.png']}")
		no-repeat;
	background-position: -23px -150px;
	cursor: pointer;
}

.ng-content-accordion-title.ui-outputlabel.ui-widget {
	float: left;
	font-size: 12px;
	font-weight: normal;
	margin-left: 6px;
	margin-top: -2px;
	width: 400px;
}

.btn-new {
	margin-top: -11px !important;
}

.ng-accordion .ui-g-1{
	padding: 0px;
}

