@import 'include/commons/vars';

.ngListValuesTableStyle.ui-datatable .ui-datatable-header {
	background: $colorTertiary !important;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-header {
	background: $colorTertiary !important;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-even {
	background: #D0D0D0;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-odd.ui-state-hover {
	background: $colorOffWhite;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-even.ui-state-hover {
	background: $colorOffWhite;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-even.ui-state-highlight {
	background: #C92826;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-odd.ui-state-highlight {
	background: #C92826;
}

.ngListValuesTableStyle.ui-datatable .ui-datatable-data-empty td {
	color: red;
	font-family: $fontFamilyBold;
}

.ui-datatable.ngListValuesTableStyle th {
	background: #EAAB00;
	font-size: 1em;
}

.ngListValuesTableStyle.ui-datatable .ui-expanded-row-content {
	background: white;
}

.marginTopLinkErase {
	margin-top: 20px;
	color: red
}