.ui-paginator.ui-paginator-bottom.ui-widget-header {
	background: $colorOffWhite;
	border: 0 solid $colorDisabled;
}

.ui-paginator.ui-widget-header span {
	border: none;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	padding: 5px 9px !important;
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	border: 1px solid #999 !important;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options
	{
	font-size: 12px;
	font-family: $fontFamily;
	padding-left: 2px;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options
	{
	height: 27px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	background: $colorWhite;
	@include border-radius(4px);
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	background: $colorOffWhite
}

.ui-paginator.ui-paginator-bottom.ui-widget-header {
	background: $colorWhite;
}

.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled,
	.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled,
	.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled,
	.ui-paginator-last.ui-state-default.ui-corner-all.ui-state-disabled {
	opacity: 90;
	background: $colorOffWhite
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	padding-bottom: 6px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 6px !important;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options,
	.ui-selectonemenu, .ui-selectcheckboxmenu, .ui-chkbox .ui-chkbox-box, .ui-button-icon-only {
	@include border-radius(4px);
}