.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid $colorDisabled;
	background: $colorWhite;
	font-weight: normal;
	color: #555555;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 1px solid #999999;
	background: #cccccc;
	font-weight: normal;
	color: $colorTertiary;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid $colorDisabled;
	background: $colorWhite
		url("\#{resource['#{$primefaces-theme}:images/ui-bg_glass_65_ffffff_1x400.png']}")
		50% 50% repeat-x;
	font-weight: normal;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fcefa1;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .70;
	filter: Alpha(Opacity =                        70);
	background-image: none;
	background: transparent;
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image: url("\#{resource['#{$primefaces-theme}:images/ui-icons_454545_256x240.png']}");
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	border: 1px solid$colorSecondary;
	color: $colorTertiary !important;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: $colorSecondary;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: $colorSecondary;
}

.ui-outputlabel.ui-state-error {
	background: transparent !important;
	color: $colorTertiary !important;
}