.ng-page-footer {
    color: $colorTertiary;
    text-decoration: underline;
}

.ng-page-footer:hover {
    color: #C92826;
    text-decoration: underline;
}

.ng-page-footer-text{
    color: $colorTertiary;
	font-size: 11px;
	margin: 10px;
}