$colorTertiary: #414042;
$colorDisabled: #cccccc;
$colorWhite: #FFFFFF;
$colorOffWhite: #f2f2f2;
$colorOverTable: #FFFBBB;
$colorEnable: #e3e3e3;

$fontSizeMin: 11px;
$fontSizeForm: 12px;

@import 'include/commons/mixins';
@import 'include/commons/font';
@import 'include/component/ui-icon';
@import 'include/component/ui-grid';
@import 'include/component/theme';
@import 'include/component/container';
@import 'include/component/icon';
@import 'include/component/menu';
@import 'include/component/fileupload';
@import 'include/component/paginator';
@import 'include/component/selection';
@import 'include/component/tabs';
@import 'include/component/datatable';
@import 'include/component/messages';
@import 'include/component/dialog';
@import 'include/component/button';
@import 'include/component/link';
@import 'include/component/accordion';
@import 'include/component/calendar';
@import 'include/component/picklist';
@import 'include/component/panelgrid';
@import 'include/component/inputswitch';
@import 'include/component/input';
@import 'include/component/state';
@import 'include/component/datalist';
@import 'include/component/tooltip';
@import 'include/component/overlay';
@import 'include/component/fieldset';
@import 'include/component/widget';
@import 'include/component/progressbar';
@import 'include/component/column';
@import 'include/component/shadow';